BODY
{
    COLOR: #000000;
    BACKGROUND-COLOR: white
}
H1
{
    COLOR: #000000
}
H2
{
    COLOR: #660000
}
H3
{
    COLOR: #000000
}
H4
{
    COLOR: #660000
}
H5
{
    COLOR: #000000
}
H6
{
    COLOR: #660000
}
