@charset "UTF-8";
/* --Global CSS Style適用於全網站的css---------------------------------------------------------------------------- */
body {
	background:#fff;
	font-family:"新細明體", Arial, Helvetica, sans-serif;
	font-size:12px;
}
body#news {
} /*全球新聞 news*/
body#about {
} /*認識全球 about*/
body#product {
} /*商品櫥窗 product*/
body#service {
} /*保戶服務 service*/
body#elite {
} /*召募菁英 elite*/
body#resource {
} /*全球資源 resource*/
body#login {
}
#wrapper {
	background:#fff;
	margin:0 auto;
	box-shadow: 5px 3px 5px #888;
	-moz-box-shadow: 5px 3px 5px #888;
	-webkit-box-shadow: 5px 3px 5px #888;
	padding:0 5px;
}
/*#header {margin:0; padding:0; height:127px; background:#fff; position:relative;}*/
#header {
	margin:0;
	padding:0;
	height:71px;
	background:#fff;
	position:relative;
}
.global-menu {
	background:#dddddd url(../images/template/global-nav-bg.png) repeat-x 0 0;
}
#content { padding:0; margin:0;
	position:relative;
}
.space-here { height:5em;}
/*------ insur-login保戶登入----------*/
#insur-login {
}
#insur-login a {
	display:block;
	width:91px;
	height:30px;
	background:url(../images/icon/insur-login-btn.png) no-repeat 0 0;
	position:absolute;
	right:22px;
	top:0px;
	text-indent:-9999em;
}
#global-path-container {
	position:absolute;
	right:0;
	top:10px;
}
/*global-path--------------------------------------------------------------------------*/
	#global-path {
	padding:0;
	margin:10px 0 0 0;
	color:#898989;
	text-align:right;
	padding-right:25px;
	height:35px;
	display:block;
	width:50%;
	position:absolute;
	right:0;
	top:7px;
}
#global-path a {
	color:#898989;
	text-decoration:none;
	line-height:35px;
}
#global-path a:hover {
	text-decoration:underline;
}
#global-path a.current {
	color:#000000;
	text-decoration:none;
}
/*--------------------------------------------------------------------------Path-------*/
/* max-width */
@media screen and (max-width: 1024px) {
form#frmMain table th{width:40px!important; text-align:right; color:#0070bd; height:28px; line-height:28px;}
}
@media screen and (max-width: 1366px) {
form#frmMain table th{width:120px; text-align:right; color:#0070bd; height:28px; line-height:28px;}
}

/* --Global CSS Style適用於全網站的css--------------------------------------------------------------------------- */
.clear {
	clear:both;
}
.invisibile-title {
	visibility:hidden;
	height:0;
	line-height:none;
	margin:0;
	padding:0;
}
/*---header---*/
#header h1 {
	background:url(../images/template/HeaderSprite.png) no-repeat -10px -10px;
	width:117px;
	height:26px;
	line-height:26px;
	margin:31px 0 0 36px;
	padding:0;
}
#header h1 a {
	line-height:26px;
	font-size:0.8em;
	padding:0;
	margin:0;
	visibility:hidden;
}
#top-search {
	position: absolute;
	right:270px;
	top:5px;
}
/*#top-search table{border:#e8e8e8 1px solid; padding:0; border-collapse:collapse; width:auto;}*/
#top-search table {
	border:none;
	padding:0;
	border-collapse:collapse;
	width:auto;
}
#top-search table a {
	font-size:12px;
	text-decoration:none;
	color:#313131;
	height:35px;
	line-height:35px;
	padding:0 5px;
}
#top-search table a:hover {
	text-decoration:underline;
}
.formLabel {
	font-size:12px;
	line-height:21px;
	height:21px;
	padding-left:13px;
}
#searchwrapper {
	display:inline-block;
	/*width:158px; */
width:158px;
	height:21px;
	background-image: url(../images/template/searchbox_white.jpg);
	background-repeat:no-repeat;
	padding:0;
	margin:0px;
	position:relative;
}
#searchwrapper form {
	display:inline;
}
#searchwrapper form input[type="text"] {
	margin:0!important;
	background:none!important;
	border:none!important;
}
.searchbox {
	border:0px;
	background-color:transparent;
	position:absolute;
	top:1px;
	left:1px;
	width:140px;
	height:20px;
	line-height:20px;
}
.searchbox_submit {
	border:0px; /*important*/
	background-color:transparent; /*important*/
	position:absolute; /*important*/
	top:1px;
	left:141px;
	width:17px;
	height:20px;
}
#top-control {
	position: absolute;
	right:10px;
	top:5px;
}
#top-control a {
	display: inline-block;
	background:url(../images/template/HeaderSprite.png) no-repeat;
	height:40px;
}
#top-control a.quick-link01 {
	background-position:-10px -90px;
	width:40px;
}
#top-control a.quick-link02 {
	background-position:-58px -90px;
	width:40px;
}
#top-control a.quick-link03 {
	background-position:-106px -90px;
	width:40px;
}
#top-control a.quick-link04 {
	background-position:-154px -90px;
	width:40px;
}
#top-control a.quick-link05 {
	background-position:-202px -90px;
	width:50px;
}
#top-control a.quick-link01:hover {
	background-position:-10px -132px;
}
#top-control a.quick-link02:hover {
	background-position:-58px -132px;
}
#top-control a.quick-link03:hover {
	background-position:-106px -132px;
}
#top-control a.quick-link04:hover {
	background-position:-154px -132px;
}
#top-control a.quick-link05:hover {
	background-position:-202px -132px;
}
#top-control a span {
	visibility:hidden;
	width:0;
	height:0;
	display:block;
}
/*---global-menu---*/
.global-menu ul {
	padding:0;
	margin:0;
	list-style:none;
}
.global-menu ul li {
	display:inline-block;
	float:left;
	height:41px;
	min-width:154px;
	line-height:41px;
	text-align:center;
	padding:0;
	margin:0;
}
.global-menu ul:after {
	clear:left;
}
.global-menu ul li a {
	display: block;
	height:41px;
	background:url(../images/template/global-nav-btn.png) no-repeat;
	text-indent:-9999em;
	padding:0;
	margin:0;
}
.global-menu ul li a.btn01 {
	width:164px;
	background-position:0 0;
}
.global-menu ul li a.btn01:hover {
	background-position:0 -43px;
}
.global-menu ul li.current a.btn01 {
	background-position:0 -43px;
}
.global-menu ul li a.btn02 {
	width:153px;
	background-position:-164px 0;
}
.global-menu ul li a.btn02:hover {
	background-position:-164px -43px;
}
.global-menu ul li.current a.btn02 {
	background-position:-164px -43px;
}
.global-menu ul li a.btn03 {
	width:154px;
	background-position:-317px 0;
}
.global-menu ul li a.btn03:hover {
	background-position:-317px -43px;
}
.global-menu ul li.current a.btn03 {
	background-position:-317px -43px;
}
.global-menu ul li a.btn04 {
	width:153px;
	background-position:-471px 0;
}
.global-menu ul li a.btn04:hover {
	background-position:-471px -43px;
}
.global-menu ul li.current a.btn04 {
	background-position:-471px -43px;
}
.global-menu ul li a.btn05 {
	width:154px;
	background-position:-624px 0;
}
.global-menu ul li a.btn05:hover {
	background-position:-624px -43px;
}
.global-menu ul li a.btn06 {
	width:160px;
	background-position:-778px 0;
}
.global-menu ul li a.btn06:hover {
	background-position:-778px -43px;
}
/*---main-banner---*/

#main-banner figure {
	width:100%;
	height:128px;
	border-bottom:#0070bd 2px solid;
	overflow:hidden;
}
#main-banner figcaption {
	visibility:hidden;
	height:0;
	line-height:none;
	margin:0;
	padding:0;
}
#main-banner figure img {
	min-width:100%;
	height:auto;
}
/*--footer--*/

/*--footer-top-block--*/
#footer-top-block {
	background:#ebebeb;
	color:#666666;
	padding:7px 0 7px 33px;
}
#footer-top-block a {
	color:#666666;
	line-height:23px;
	font-size:12px;
	padding:0px 13px 0 0;
	text-decoration:none;
}
#footer-top-block a:hover {
	text-decoration:underline;
}
#footer-top-block span {
	padding:0 15px 0 0;
}
/*--footer-botton-block--*/
#footer-botton-block {
	background:#dfedf7;
	padding-top:22px;
	border-top:#0070bd 3px solid;
}
.footer-segment-large {
	margin:0 40px 40px 30px;
	border-right:1px dashed #92a0aa;
}
/*---css3 style--*/
.footer-segment-large h3 {
	display:inline-block;
	padding:0;
	margin:0 0 0 20px;
	font-size:12px;
	background:url(../images/template/HeaderSprite.png) no-repeat -10px -210px;
	width:110px;
	height:34px;
	overflow:hidden;
	text-indent:-9999em;
}
.footer-segment-large address {
	font-size:12px;
	font-style:normal;
	color:#666;
	margin:0 0 0 20px!important;
	padding:0!important;
}
.footer-segment-large p {
	font-size:12px;
	font-style:normal;
	color:#666;
	line-height:24px;
	margin:0 0 0 20px!important;
	padding:0;
}
a.footer-map {
	display:inline-block;
	width:55px;
	height:15px;
	padding:0;
	margin:7px 0 12px 20px;
	background:url(../images/template/HeaderSprite.png) no-repeat -150px -210px;
	cursor:pointer;
}
.footer-segment {
	-moz-box-flex:1;
	-webkit-box-flex:1;
	-o-box-flex:1;
	box-flex:1;
	margin-bottom:40px;
}
.footer-segment h3 {
	display:inline;
	color:#000;
	font-size:12px;
	font-weight:bold;
	margin:0;
	padding:0;
}
.footer-segment ul {
	padding:0;
	margin:0;
	display:inline;
}
.footer-segment ul li {
	padding:0;
	margin:0;
	list-style:none;
}
.footer-segment ul li a {
	color:#666;
	text-decoration:none;
	font-size:12px;
	line-height:22px;
}
.footer-segment ul li a:hover {
	text-decoration: underline;
}
/*main*/
/*main title h2*/
body#login #main-content h2 {
	background:url(../images/template/HeaderSprite.png) no-repeat -10px -250px;
	padding:0;
	margin:5px 0 0 0;
	height:34px;
	text-indent:-9999em;
}
body#mainHome #main-content h2 {
	background:url(../images/template/HeaderSprite.png) no-repeat -10px -250px;
	padding:0;
	margin:5px 0 0 0;
	height:34px;
	text-indent:-9999em;
}

body#login2 #main-content h2 {
	background:url(../images/template/HeaderSprite.png) no-repeat -10px -528px;
	padding:0;
	margin:27px 0 0 0;
	height:34px;
	text-indent:-9999em;
}

body#news #content h2 {
	background:url(../images/template/HeaderSprite.png) no-repeat -10px -300px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*全球新聞*/
body#product #content h2 {
	background:url(../images/template/NavigatorTitle.png) no-repeat -10px -476px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*商品櫥窗*/
body#product #content h2.Annuity {
	background:url(../images/template/NavigatorTitle.png) no-repeat -10px -544px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*商品櫥窗 年金*/
body#product #content h2.Cancer {
	background:url(../images/template/NavigatorTitle.png) no-repeat -10px -646px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*商品櫥窗 年金*/
body#product #content h2.Retireinsurance {
	background:url(../images/template/NavigatorTitle.png) no-repeat -10px -408px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*商品櫥窗Retireinsurance*/
body#product #content h2.Protection {
	background:url(../images/template/NavigatorTitle.png) no-repeat -10px -442px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*商品櫥窗Protection*/
body#news #content h2#newsEvent {
	background: url(../images/template/NavigatorTitle.png) no-repeat -10px 0;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*全球動態*/
body#news #content h2#newsEBoard {
	background:url(../images/template/NavigatorTitle.png) no-repeat -10px -34px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*活動看板*/
body#news #content h2#newsProduct {
	background:url(../images/template/NavigatorTitle.png) no-repeat -10px -68px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*最新商品*/
body#news #content h2#newsCharity {
	background:url(../images/template/NavigatorTitle.png) no-repeat -10px -102px;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*公益活動*/
/*navigator*/
#navigator { width:220px; margin:0; padding:0; float:left;
}
body#news #navigator h3 {
	background:url(../images/template/NavigatorLeft.png) no-repeat 0px 0px;
	height:36px;
	width:182px;
	margin: 27px 0 10px 20px;
	padding:0;
	text-indent:-9999px;
}/*全球新聞 news*/
body#about #navigator h3 {
	background:url(../images/template/NavigatorLeft.png) no-repeat 0px -36px;
	height:36px;
	width:182px;
	margin: 27px 0 10px 20px;
	padding:0;
	text-indent:-9999px;
}/*認識全球 about*/
body#product #navigator h3 {
	background:url(../images/template/NavigatorLeft.png) no-repeat 0px -72px;
	height:36px;
	width:182px;
	margin: 27px 0 10px 20px;
	padding:0;
	text-indent:-9999px;
}/*商品櫥窗 product*/
body#service #navigator h3 {
	background:url(../images/template/NavigatorLeft.png) no-repeat 0px -108px;
	height:36px;
	width:182px;
	margin: 27px 0 10px 20px;
	padding:0;
	text-indent:-9999px;
}/*保戶服務 service*/
body#elite #navigator h3 {
	background:url(../images/template/NavigatorLeft.png) no-repeat 0px -144px;
	height:36px;
	width:182px;
	margin: 27px 0 10px 20px;
	padding:0;
	text-indent:-9999px;
}/*召募菁英 elite*/
body#resource #navigator h3 {
	background:url(../images/template/NavigatorLeft.png) no-repeat 0px -180px;
	height:36px;
	width:182px;
	margin: 27px 0 10px 20px;
	padding:0;
	text-indent:-9999px;
}/*全球資源 resource*/
body#login #navigator h3 {
	background:url(../images/template/HeaderSprite.png) no-repeat -10px -370px;
	height:36px;
	width:182px;
	margin: 27px 0 10px 20px;
	padding:0;
	text-indent:-9999px;
} /*保戶專區*/
body#login2 #navigator h3 {
	background:url(../images/template/HeaderSprite.png) no-repeat -10px -370px;
	height:36px;
	width:182px;
	margin: 27px 0 10px 20px;
	padding:0;
	text-indent:-9999px;
} /*保戶專區*/

#navigator ul {
	padding:0;
	margin:0 0 0 20px;
	width:182px;
}
#navigator ul li {
	padding:0;
	margin:0;
	list-style:none;
	height:28px;
	line-height:28px;
	background:url(../images/template/LeftNavigatorBg.png) no-repeat center bottom;
	color:#666666;
}
#navigator ul li.current {
	background:url(../images/template/LeftNavigatorBgCurrent.png) no-repeat center bottom;
}
#navigator ul li.current a {
	color:#0070bd;
	font-weight:bold;
}
#navigator ul li a {
	color:#666666;
	line-height:28px;
	padding:0 0 0 40px;
	margin:0;
	text-decoration:none;
}
#navigator ul li a:hover {
	color:#0070bd
}
body#news #navigator h3.quick-accessbox, body#login #navigator h3.quick-accessbox,body#login2 #navigator h3.quick-accessbox, body#product #navigator h3.quick-accessbox {
	background:none;
	height:0;
}
#navigator ul.quick-accessbox {
	width:97px;
	padding:14px 0 0 85px;
	margin:0 0 0 20px;
	background:url(../images/template/LeftNavigatorSprite.png) no-repeat 0 0;
	height:137px;
}
#navigator ul.quick-accessbox li {
	background: url(../images/template/LeftNavigatorSprite.png) no-repeat 0 -250px;
	width:80px;
	height:20px;
	line-height:19px;
	border-bottom:1px #d6d6d6 solid;
	padding:0;
	margin:0;
}
#navigator ul.quick-accessbox li a {
	padding:0 0 0 10px;
	margin:0;
	line-height:20px;
}
#navigator ul.quick-accessbox li a:hover {
	color:#0070bd
}
#navigator h3.ads-banner {
	background: url(../images/template/LeftNavigatorSprite.png) no-repeat 0 -160px!important;
	height:58px!important;
	padding:0!important;
	margin:6px 0 0 20px!important;
}
#navigator .ads-banner-link { height:auto!important;}
/*Main*/
 #MainContainer{width:100%;padding:0; margin:0;}
body#login #main-content, body#login2 #main-content {
	width: auto;
	margin:0 0 0 220px!important;
	padding:0;
}
body#mainHome #main-content {
	/*width: 956;*/
	margin:0;
	padding:0;
}
/*您近5次登入紀錄*/
#LoginLog-table { padding:0;margin:0 0 20px 0;}
#LoginLog-table p {
	background:url(../images/icon/arrowIconSprite.png) no-repeat 0 -50px;
	line-height:20px;
	height:20px;
	padding:0 0 0 27px;
	margin:5px 0 14px 15px;
	font-weight:bold;
}
#LoginLog-table h3 {
	font-size:12px;
	color:#0070bd;
	font-weight:bold;
	background:#cee4f5;
	border:1px #c3def2 solid;
	line-height:34px;
	height:34px;
	margin:0 0 15px 25px;
	padding:0 0 0 21px;
	/*border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;*/
	display:block;
}
#LoginLog-table ul {
	padding:0;
	margin:0 0 15px 25px;
}
#LoginLog-table ul li {
	padding:0;
	margin:0 2px;
	list-style:none;
	border-bottom:1px #e6e5e5 solid;
	width:100%;
	display:table;
}
/*#LoginLog-table ul li:nth-child(even) {
	background:#ededed;
}
*/#LoginLog-table ul li span {
	color:#ccc;
	font-size:12px;
	line-height:30px;
	color:#666666;
	display:table-cell;
}
/*#LoginLog-table ul li span:first-child {
	text-align:right;
	width:10%;
	padding-right:20px;
}
#LoginLog-table ul li span:last-child {
	text-align:left;
	width:15%;
}
*/
#LoginLog-table ul li span.one{text-align:right;
	width:10%;
	padding-right:20px;}
#LoginLog-table ul li span.two{text-align:center;
	width:35%;
	}
#LoginLog-table ul li span.three{text-align:center;
	width:35%;
	}
#LoginLog-table ul li span.four{text-align:left;
	width:15%;}
	
	
	
#Hint {
	min-height:96px;
	margin:0 0 50px 25px;
	padding:0;
	background:url(../images/template/HintBg.png) repeat-x left top;
	border:1px #c9c9c9 solid;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
} /*貼心提醒*/
#Hint h3 {
	display:inline-block;
	width:73px;
	height:67px;
	margin:21px 0 0 36px;
	background:url(../images/template/TitleIconSprite.png) no-repeat 0 0;
	text-indent:-9999em;
	float:left;
}
#Hint ul {
	display:inline-block;
	margin:21px 0 0 10px;
	float:left;
}
#Hint ul li {
	 font-size:12px;
	color:#666666;
	line-height:25px;
	list-style:none;
	padding-left:10px;
	/*background:url(../images/icon/arrowIconSprite.png) no-repeat 0 0; */
}

#footer p {
	 font-size:12px;
	color:#666666;
	line-height:25px;
	list-style:none;
	padding-left:10px;

}


#Hint ul li span {
	font-size:12px;
	height:25px;
	width:10px; display:inline-block; overflow:hidden;
	background:url(../images/icon/arrowIconSprite.png) no-repeat 0 0;
}
/*公司活動訊息--保戶活動訊息---*/  
.activity-info {
	margin: 0 0 0 25px;
}
.activity-info h3 {
	background:url(../images/icon/arrowIconSprite.png) no-repeat 0 -80px;
	line-height:17px;
	font-size:15px;
	font-weight:bold;
	color:#0070bd;
	padding:0 0 0 20px;
}
.activity-info-box {
	border:1px #ccc solid;
	display:block;
	float:left;
	width:40%;
	min-width:249px;
	height:126px;
	margin:10px 30px 25px 0;
	padding:14px;
}
.activity-info-box h4 {
	color:#000;
	font-weight:bold;
	font-size:12px;
	line-height:35px;
	padding:0;
	margin:0;
}
.activity-info-box p {
	color:#666666;
	padding:0;
	margin:0;
	line-height:18px;
}
.activity-info-box a {
	color:#3593d3;
	line-height:18px;
	text-decoration:none;
	word-break:keep-all;
}
.activity-info-box a:hover {
	text-decoration: underline;
}
.activity-info-box img {
	float:right;
	margin:0 0 0 20px;
}
.activity-info-box img:after {
	clear:right;
	height:0;
	content:"";
}
/*全球新聞 News*/
#News-table, #News-detail {
	margin:40px 0 50px 0;
	position:relative;
}
p#font-sizer {
	position:absolute;
	right:0;
	top:-30px;
	color:#878686;
	line-height:19px;
	height:19px;
	padding:0;
	margin:0;
	font-weight:bold;
}
p#font-sizer a {
	background:url(../images/template/fontSizeBg.png) no-repeat 0 0;
	display:inline-block;
	width:17px;
	height:19px;
	text-align:center;
	color:#878686;
	line-height:19px;
	height:19px;
	margin-left:5px;
	text-decoration:none;
}
p#font-sizer a:hover {
	background:url(../images/template/fontSizeBg.png) no-repeat 0 -20px;
	color:#fff;
}
p#font-sizer a.current {
	background:url(../images/template/fontSizeBg.png) no-repeat 0 -20px;
	color:#fff;
}
#News-table ul {
	padding:0;
	margin:0 0 15px 25px;
}
#News-table ul li {
	padding:0;
	margin:0;
	list-style:none;
	border-bottom:1px #e6e5e5 solid;
	width:100%;
	display:table;
}
/*#News-table ul li:nth-child(2n+1) {
	background:#ededed;
}
*/#News-table ul li span {
	font-size:12px;
	line-height:30px;
	color:#666666;
	display:table-cell;
	text-align:center;
}
#News-table ul li span a {
	color:#666666;
	text-decoration:none;
}
#News-table ul li span a:hover {
	color:#666666;
	text-decoration: underline;
}
#News-table ul li.news-list-header {
	font-weight:bold;
	background:#cee4f5;
	border:1px #c3def2 solid;
	line-height:12px;
	height:12px;
	margin:0;
	padding:11px 0;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}/*標題列*/
#News-table ul li.news-list-header span {
	text-align:center!important;
	color:#0070bd!important;
	line-height:12px!important;
}
#News-table ul li.news-list-header span:last-child {
	border-left:1px solid;
}
#News-table ul li.news-list-header span:first-child {
	border-right:1px solid;
}
#News-table ul li span:first-child {
	text-align:left;
	width:70%;
	padding-left:24px;
}
#News-table ul li span:last-child {
	width:15%;
	color:#0070bd;
}
#history-record {
	text-align:right;
	padding:0;
	margin:0;
}
#history-record select {
	border:1px solid #ccc;
}
/*新聞內頁*/
#News-detail #context {
	width:658px;
	position:relative;
}
#News-detail #context h5 {
	font-size:1.2em;
	color:#0084ce;
	padding:0;
	margin:1.5em 0 1em 0;
}
#News-detail #context a {
	color:#0084ce;
	text-decoration:none;
}
#News-detail #context a:hover {
	color:#0084ce;
	text-decoration: underline;
}
#News-detail #context table {
	border:1px #ccc solid;
}
#News-detail #context table th, #News-detail #context table td {
	padding:5px 10px;
	margin:0;
}
#News-detail #context table th {
	background:#dbecf8;
	color:#0084ce;
	font-weight:bold;
	border-bottom:2px #0070bd solid;
}
#News-detail #context table tr.even td {
	background:#e7f4fd;
}
.Issue-date {
	position:absolute;
	left:0px;
	top:14px;
	color:#626262;
}
#News-detail #context h3 {
	text-align:left;
	color:#0070bd;
	line-height:1em;
	font-size:1.5em;
	font-weight:bold;
	display:block;
	width:604px;height:60px;
    padding-left:22px;padding-right:22px;
	padding-top:37px;
	 background: url(../images/template/HintBg.png) repeat-x left top;
	border:2px #0070bd solid;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}

#News-detail #context p {
	text-align: justify;
	color:#666666;
	line-height:1.83em;
	font-size:1em;
	padding:0 12px 0 22px;
}
p.context-control {
	text-align:right;
	border-top:1px #cecece solid;
	position:relative;
}
a.backtolistpage {
	position:absolute;
	right:0;
	top:6px;
	display:block;
	background:url(../images/icon/backto-ListPage-btn.png) no-repeat 0 0;
	width:69px;
	height:23px;
	text-indent:-9999px!important;
}
.top-control {
	text-align:right;
	line-height:20px;
}
a.topBtn {
	background:url(../images/icon/top.png) no-repeat 0 0;
	width:41px;
	height:18px;
	display:inline-block;
	text-indent:-9999em!important;
}
/*商品櫥窗*/
#Product-table {
	margin:40px 0 50px 0;
	position:relative;
}
.product-describtion {
	margin:10px 0 0 0;
}
.product-describtion p {
	color: #666666;
	font-size: 1em;
	line-height: 1.83em;
	padding: 0 12px 0 22px;
	text-align: justify;
}
#Product-table-box {
	background:url(../images/template/HintBg.png) repeat-x left top;
	border:1px #c9c9c9 solid;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	min-height:200px;
	padding:30px 15px 15px 15px;
}
#Product-table-box h3 {
	height:20px;
	line-height:20px;
	margin:10px 20px;
	color:#0568b0;
	font-size:13px;
	font-weight:bold;
	padding-left:20px;
	background:url(../images/icon/arrowIconSprite.png) 0px -100px no-repeat;
}
#product-images {
	float:left;
	width:150px;
	height:auto;
}
#product-images img {
	border:none;
	width:100%;
}
#product-images img.round { border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#Product-table-box ul {
	padding:0;
	margin:30px 0 15px 25px;
}
.withpicture ul {
	padding:0;
	margin:0px 0 15px 200px!important;
}
#Product-table-box ul li {
	padding:0;
	margin:0;
	list-style:none;
	width:100%;
	display:block;
	background:url(../images/icon/arrowIconSprite.png) 0px -123px no-repeat;
	padding-left:20px;
	color:#666666;
	line-height:25px;
}
#Product-table-box ul li a {
	text-decoration:none;
	color:#666666;
}
#Product-table-box ul li a:hover {
	color:#0568b0;
}
#Product-table-box ul li span {
	color:#ff0000;
	display:block;
}
/*商品櫥窗內頁*/
#Product-detail-area h3{ background:url(../images/icon/arrowIconSprite.png) no-repeat 0 -105px; padding:0 0 0 25px; font-size:15px; color:#000; line-height:25px;}
#Product-detail-area h4{ color:#0070bd; background:url(../images/template/product-h4bg.png) repeat-x 0 0; line-height:32px; height:33px; border-bottom:1px #b4b4b4 solid; padding-left:40px; position:relative;}
#Product-detail-area h4 span{ position:absolute; left:18px; top:0;background:url(../images/icon/radioIcon01.png) no-repeat center center; width:16px; height:32px;}
#Product-detail-area h5{ background:#cfe4f2 url(../images/template/product-h5bg.png) no-repeat 0 0; height:25px; line-height:25px; font-weight:normal; padding-left:32px; margin:0 0 5px 5px;}
#Product-detail-area h5 a.book{ color:#0070bd; padding-right:30px; line-height:23px; height:23px; display:inline-block; background:url(../images/icon/book-bg.png) no-repeat right top;}
#Product-detail-area h5 a.download{ color:#0070bd; padding-right:30px; line-height:23px; height:23px; display:inline-block; background:url(../images/icon/download-bg.png) no-repeat right top;}
ul.blue-notice{ margin-bottom:20px!important;}
ul.blue-notice li{ background:url(../images/icon/arrowIcon02.png) no-repeat 0 3px!important; padding-left:20px!important;}

#Product-detail-area ul{ margin:0 0 0 40px; padding:0;}
#Product-detail-area ul li{ color:#666666; list-style:none; background:url(../images/icon/arrowIcon01.png) no-repeat 0px -1px; padding:0 0 0 10px; margin:0; line-height:22px;}
#Product-detail-area ul li ul{ margin:0; padding:0;} 
#Product-detail-area ul li ul li{ background:none!important;padding:0!important;} 
#Product-detail-area em{ color:#cc383a; font-style:normal; font-weight:bold; padding:0 3px;}
#Product-detail-area strong{ color:#000;}
#Product-detail-area p{color:#666666;line-height:22px; margin-left:35px; padding:0;}
#Product-detail-area table{margin:0 0 0 40px; padding:0;border:1px #dadad5 solid; width:auto;}
#Product-detail-area table th{color:#fff; background:#2182c6; line-height:34px;border-right:1px #dadad5 solid; font-size:12px; height:34px; text-align:center; padding:0 45px;}
#Product-detail-area table td{/*color:#535353;*/ color:#000; background:#f2f2f2; font-size:12px; border-right:1px #dadad5 solid; line-height:34px; height:34px; text-align:center}
#Product-detail-area table tr:nth-child(even) td{ background:#c0dcee;}
ul.citation{ border:1px #bfbfbf solid; margin:20px 10px 45px 35px!important; padding:18px 15px!important; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
ul.citation li{ list-style:none; background:none!important;}
.strong-font { color:#000!important; font-weight:bold;}
ul#detail-ancher { background:url(../images/template/HintBg.png) repeat-x 0 0; border:1px #bd3843 solid; margin:0 0 30px 0; padding:10px; border-radius:15px; -webkit-border-radius:15px; -moz-border-radius:15px;}
ul#detail-ancher li{ display:inline-block; height:36px; line-height:36px; margin:10px 0; background:#fff; padding:0; color:#000000;}
ul#detail-ancher li a{ color:#666666; text-decoration:none;font-weight:bold; height:36px; line-height:36px;padding:0 15px;display:block;border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
ul#detail-ancher li a:hover{ color:#000000; font-weight:bold; text-decoration:none; background:#cecece;}
/*會員Login*/
#input-personal-info { margin:30px 0 0 30px; padding:0; width:80%;}
#input-personal-info h3{ color:#0070bd; font-weight:bold;font-size:14px;padding:0; margin:0;}
#input-personal-info table{ background:#e3f0f9; margin:20px 0 50px 0; padding: 0 12px;}
#input-personal-info th{ color:#0070bd; padding-left:60px; width:50px;border-bottom:1px #ccc solid;}
#input-personal-info tr td{ border-bottom:1px #ccc solid;}
#input-personal-info td{ color:#0070bd;}
#input-personal-info label a{color:#0070bd; font-size:12px; padding-left:15px; text-decoration:underline; display:inline-block;}
#input-personal-info input[type="text"],input[type="password"]{ height:20px; background: url(../images/template/login-input-bg.png) repeat-x 0 0; border:1px #a3a3a3 solid;}
.btn-container{ text-align:left;}
.btn-container input[type="submit"]{ margin-right:36px; color:#0070bd; height:28px;width:85px;border:#a3a3a3 1px solid; border-radius:5px;}
.btn-container input[type="reset"]{color:#0070bd;height:28px; width:85px; border:#a3a3a3 1px solid; border-radius:5px;}
.btn-container a{ padding:0; margin:0; text-align:center; font-weight:bold; text-decoration:underline!important;color:#0070bd!important; display:inline-block!important;}

.btn-container label{ display:inline-block;}

/* RB0633 (Start) */

#logon-with-table{
	border:0;
	background-color: white;
}

#logon-with-pki-title {
	width:30%;
	position:absolute;
	left:250px;
	top:344px;
}
#logon-with-pki-a {
	padding:0px 0px 0px 0px;
}

#imgJcap {
	border-style:solid;
	border-width:1px;
	border-color: gray;
}

/* RB0633 (End) */

/*.notice-info { margin:10px 0 0 320px; padding:0; text-align:left!important; width:95%;}
*/
/*.notice-info { margin:10px 0 0 220px; padding:0; text-align:left!important; width:95%;}
*/
.notice-info { /*margin:10px 0 0 70px; */ margin:10px 0 0 20px; padding:0; text-align:left!important; width:95%;}
.notice-info h3 { color:#b8190e; font-weight:bold; font-size:14px; padding:0; margin:0;}
.notice-info p{color:#333333; font-size:12px; padding:0!important; margin:0!important; font-weight:normal; font-family:Arial, Helvetica, sans-serif; line-height:1.5em; background:none!important; height:auto!important; }
.notice-info ul { margin:0 0 0 50px;}
.notice-info ul li {color:#333333; font-size:12px; padding:0; line-height:24px;}
.notice-info ul li a{color:#0070BD; font-size:12px; padding:0; margin:0; text-decoration:underline}
/*.twca-mark{ position:relative; height:100px; margin:0 0 0 160px; padding:0; text-align:left;}
*/
.twca-mark{ position:relative; height:100px; margin:0 0 0 60px; padding:0; text-align:left;}
.mmWidth{ width:80px;}
/*.twca-mark{ position:relative; height:100px; margin:0 0 0 130px; padding:0; text-align:left;}
*/
.twca-mark p{ color:#333333; font-size:12px; margin:5px 0 0 60px; text-align:left; padding:18px 0 0 85px; display:block;/*  width:172px; */}
.twca-image { position:absolute; left:0; top:0;}
form#frmMain{text-align:left!important;}
form#frmMain table{ text-align:left!important; border:none; width:80%; font-family:Verdana, Geneva, sans-serif; font-size:12px; font-weight:normal;}
form#frmMain table td{ border:none; padding:2px; width:auto;}

form#frmMain input[type="button"]{ margin-right:36px; color:#0070bd; height:28px; border:#a3a3a3 1px solid; border-radius:5px;}
form#frmMain input[type="button"]:hover{ color:#333;border:#333 1px solid; box-shadow:1px 1px 3px #888; -moz-box-shadow:1px 1px 3px #888; -webkit-box-shadow:1px 1px 3px #888;}
.Data, #selCategory, #selSource{ height:20px; background: url(../images/template/login-input-bg.png) repeat-x 0 0; border:1px #a3a3a3 solid;}

h2.certificate-search {
	background:  url(../images/template/NavigatorTitle2.gif) no-repeat 0 0;
	padding:0;
	margin:33px 0 0 0;
	height:34px;
	text-indent:-9999em;
}
body#mainHome #main-content h2.agent {
	background: url(../images/template/agentTitle.png) no-repeat 0 0;
	padding:0;
	margin:27px 0 0 0;
	height:34px;
	text-indent:-9999em;
} /*經代專區*/
body#mainHome #main-content h2.FTA {
	background: url(../images/template/FTAtitle.png) no-repeat 0 0;
	padding:0;
	margin:27px 0 0 0;
	height:34px;
	text-indent:-9999em;
}
#businesss-news-area input[type="text"]{ height:26px; background: url(../images/template/login-input-bg.png) repeat-x 0 0; border:1px #a3a3a3 solid; padding:0; margin:0;}
#businesss-news-area input[type="button"]{ margin-right:36px; color:#0070bd; height:28px;width:85px;border:#a3a3a3 1px solid; border-radius:5px; padding:0; margin:0;}
#businesss-news-area select {border:1px solid #ccc; height:28px; width:100px; padding:0; margin:0;}
#businesss-news-area label{ height:28px; padding:0; margin:0;}

#businesss-news-area table{ width:95%; margin:0 0 0 20px; padding:0;border:1px #c3def2 solid;}
#businesss-news-area table th{color:#0070BD; background:#CEE4F5; line-height:34px; border:1px #c3def2 solid; font-size:12px; min-height:34px; text-align:center; padding:0 5px;}
#businesss-news-area table td{/*color:#535353;*/ color:#000; background:#fff; font-size:12px; border-right:1px #dadad5 solid; text-align:center; word-break:break-all; word-wrap:break-word;}
/*#businesss-news-area table tr:nth-child(odd) td{ background:#ededed;}*/
#businesss-news-area table tr.even td{ background:#ededed;}
#businesss-news-area table col.one{ width:50%;}
#businesss-news-area table td.fstLine{ text-align:left; padding:10px 0 10px 10px; margin:0;/* line-height:20px;*/}
#businesss-news-area table td.fstLine ul{ padding:0; margin:0; list-style:none; border:none;}
#businesss-news-area table td.fstLine ul h3{/*color:#535353;*/ color:#000;padding:3px 0 3px 16px; margin:0; background:none; 
font-family:Arial, Helvetica, sans-serif; font-weight:bold; display:block; /*background: url(../images/icon/radioIcon01.gif) no-repeat 0 0;*/ 
height:auto!important; line-height:1em!important; border:none;}
#businesss-news-area table td.fstLine li{padding:0 0 0 18px!important; margin:0; border:none;}
#businesss-news-area table td.fstLine ul h3 a{ /*color:#535353;*/ color:#000; text-decoration:none;} 
#businesss-news-area table td.fstLine ul li a { text-decoration:none;}
#businesss-news-area table td.fstLine ul h3 a:hover, #businesss-news-area table td.fstLine ul li a:hover{ text-decoration:underline;}
#businesss-news-area table td a{ color:#4682bf; line-height:15px; padding:0; text-decoration:none;}
#businesss-news-area table td a:hover{ text-decoration:underline;}
#businesss-news-area table td a.files{ display:inline-block; width:auto; line-height:15px; background:url(../images/template/icon-file.png) no-repeat 0 0; padding-left:18px;  }
#businesss-news-area table.no-border{ width:99%; margin:5px 0 5px 20px; padding:0; border:none; background:#fff; border-collapse:collapse;}
#businesss-news-area table.no-border td{/*color:#535353;*/ color:#000; padding:0; margin:0; border:none; background:#fff; font-size:12px; line-height:auto; height:auto;}
#businesss-news-area table.no-border select{ width:80px!important; padding:0; margin:0; height:28px;}
/*分頁選單--*/
.Pager { margin:20px auto 0 auto; padding:5px; width:55%;}
.Pager span { float:left;display:block;height:18px;width:14px; color:#c1c1c1;}
.Pager a { float:left;display:block;height:18px;width:14px; color:#666666; margin:0 5px; text-decoration:none;}
.Pager a:hover, .Pager a.current { color:#666666;color:#207fc4; font-weight:600;}
.Pager a.LastPage { background: url(../images/icon/pagerSprite.gif) no-repeat 0px 0; text-indent:-9999px; width:48px;}
.Pager a.NextPage { background: url(../images/icon/pagerSprite.gif) no-repeat 0 -18px; text-indent:-9999px; width:48px;}
.screenBox{ background-color:transparent;margin:0 0 0 40px; padding:0; width:93%; height:400px; overflow:auto; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; border:5px #ccc solid; box-shadow:2px 2px 5px #888; -moz-box-shadow:2px 2px 5px #888; -webkit-box-shadow:2px 2px 5px #888;}
.screenBox table{ margin:0!important; }

/*表單FormStyle*/
.FormStyle{ margin:20px 0 0 40px; padding:0; position:relative;}
.FormStyle fieldset {margin:0; padding:0; border:none;  }
.FormStyle fieldset.sec1 { background:#FFFFFF;}
.Mortage fieldset span { padding:0 5px; line-height:1;}
.FormStyle fieldset.control { text-align:center; padding:0px; position:absolute; right:15px; bottom:25px; }
.FormStyle fieldset.control input[type="reset"],.FormStyle fieldset.control input[type="submit"]{ background:#0070bd url(../images/icon/submitBtnBg.png) no-repeat 0 0; border:none; width:89px;height:24px; line-height:18px; padding-bottom:6px; color:#fff; margin:0 0px 0px;}
.FormStyle fieldset dl{ color:#3666ac; width:100%; margin:0; clear:left;}
.FormStyle fieldset dl dt { display:inline-block;float:left; width:20%;color:#3666ac; height:42px; line-height:42px;padding:0; border-right:none; padding-right:20px; margin:0; text-align:right;}
.FormStyle fieldset dl dt span{ color:#CC0000; font-weight:bold; padding:0 2px;}
.FormStyle fieldset dl dd { display:inline-block; float:left; border-left:none;  color:#707070; margin:0; padding:0; height:42px;line-height:42px;/*width:80%;*/}
input.part-S{width:100px;}
dl.high-dd, dd.high-dd, dt.high-dd {height:90px!important; overflow:hidden;}
dd.high-dd {line-height:1!important;}
dd.high-dd fieldset { margin-left:0!important;}
dd.high-dd textarea{height:80px!important;margin:0.5em;padding:5px;}

/*Skin css*/
.jcarousel-skin-tango .jcarousel-container {/*Mod by Sean*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
   border-radius: 10px;}
.jcarousel-skin-tango .jcarousel-direction-rtl {direction: rtl;}
.jcarousel-skin-tango .jcarousel-container-horizontal {/*Mod by Sean*/  padding: 0px;}
.jcarousel-skin-tango .jcarousel-container-vertical {/*Mod by Sean*/
    width: 125px; overflow: hidden;
    height: 115px;
    padding: 20px 20px;
}
.jcarousel-skin-tango .jcarousel-clip { overflow: hidden;}
.jcarousel-skin-tango .jcarousel-clip-horizontal { /*Mod by Sean*/ width:93%; margin:0 auto 10px auto;}
.jcarousel-skin-tango .jcarousel-clip-vertical { width: 120px; overflow: hidden; height: 1155px;margin:10px 0;}
/* .jcarousel-skin-tango .jcarousel-item { Mod by Sean overflow: hidden; border:1px #e0e0e0 solid;} */

.jcarousel-skin-tango .jcarousel-item {
	 margin: 0 6px!important;
     width: 275px;
     height: 128px;
     border:1px #e0e0e0 solid;
     }

.jcarousel-skin-tango .jcarousel-item-horizontal {margin-left: 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {margin-left: 10px;  margin-right: 0;}
.jcarousel-skin-tango .jcarousel-item-vertical { margin-bottom: 10px;}
.jcarousel-skin-tango .jcarousel-item-placeholder { color: #000;}
/** *  Horizontal Buttons */
.jcarousel-skin-tango .jcarousel-next-horizontal { position: absolute; top: 10px; right: 0; width: 31px; height: 95px; cursor: pointer; background: transparent url(../images/skins/tango/next-horizontal2.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal { left: 5px; right: auto; background-image: url(../images/skins/tango/prev-horizontal2.png);}
.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus { background-position: -32px 0;}
.jcarousel-skin-tango .jcarousel-next-horizontal:active { background-position: -64px 0;}
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active { cursor: default; background-position: -96px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal {position: absolute; top: 10px; left: 0; width: 31px; height: 95px; cursor: pointer; background: transparent url(../images/skins/tango/prev-horizontal2.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal { left: auto; right: 5px; background-image: url(../images/skins/tango/next-horizontal.png);}
.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus { background-position: -32px 0;}
.jcarousel-skin-tango .jcarousel-prev-horizontal:active { background-position: -64px 0;}
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active { cursor: default;  background-position: -96px 0;}
/** *  Vertical Buttons */
.jcarousel-skin-tango .jcarousel-next-vertical { position: absolute; bottom: 5px; left: 43px; width: 32px; height: 32px; cursor: pointer; background: transparent url(../images/skins/tango/next-vertical.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-next-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-vertical:focus { background-position: 0 -32px;}
.jcarousel-skin-tango .jcarousel-next-vertical:active { background-position: 0 -64px;}
.jcarousel-skin-tango .jcarousel-next-disabled-vertical,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-vertical:active {cursor: default; background-position: 0 -96px;}
.jcarousel-skin-tango .jcarousel-prev-vertical { position: absolute;  top: 110px; left: 43px;  width: 32px;  height: 32px; cursor: pointer; background: transparent url(../images/skins/tango/tangoprev-vertical.png) no-repeat 0 0;}
.jcarousel-skin-tango .jcarousel-prev-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-vertical:focus { background-position: 0 -32px;}
.jcarousel-skin-tango .jcarousel-prev-vertical:active { background-position: 0 -64px;}
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-vertical:active { cursor: default; background-position: 0 -96px;}
/* 輪播 */
.info-box img {
float: right;
margin: 0 0 0 20px;
}

.info-box {
display: block;
margin: 0;
padding: 14px;
}

.info-box h4 {
color: black;
font-weight: bold;
font-size: 12px;
line-height: 20px;
padding: 0;
margin: 0;
}
.info-box p{ text-align:justify;
}
.info-box a{ text-decoration:none;color:#3593d3;}
#abgneBlock {
		width: 940px;
		height: 280px;
		position: relative;
		overflow: hidden;
	}
	#abgneBlock ul.list {
		padding: 0;
		margin: 0;
		list-style: none;
		position: absolute;
		width: 9999px;
		height: 240px;
	}
	#abgneBlock ul.list li {
		float: left;
		width: 940px;height: 240px; border-bottom: 2px solid #0070BD;

		/*height: 100%;*/
	}
	#abgneBlock .list img{
		width: 100%;
		height: 100%;
		border: 0;
	}
	#abgneBlock .list iframe{
		width: 100%;
		height: 100%;
		border: 0;
	}
	#abgneBlock ul.playerControl {
		margin: 0;
		padding: 0;
		list-style: none;
		position: absolute;
		bottom: 5px;
		right: 0px; z-index:99;
		/*height: 14px;*/
		height: 24px;
	}
	#abgneBlock ul.playerControl li {
		float: left;
		/*width: 23px;height: 14px;*/
		width:42px;
		height: 24px;
		cursor: pointer;
		margin: 0px 2px;
		background: url(../images/icon/rect_ctrl2.png) no-repeat 0 0;
	}
	#abgneBlock ul.playerControl li.current { 
		background-position: -42px 0;
	}
		
	.notice-highlight{ color:#FF0000; font-family:Arial, Helvetica, sans-serif;}
	ul.searchFunc{ padding:0; margin:0; border:none!important;}
	ul.searchFunc li{list-style:none;border:none!important;padding:0; margin:0; float:left; display:inline-block; height:28px!important; width:auto!important;}
	ul.searchFunc li input, ul.searchFunc li label,  ul.searchFunc li select{display:block;}
	ul.searchFunc li label{ height:28px!important; line-height:28px!important; text-align:center; vertical-align:middle; width:90px;}
	ul.searchFunc li input[type="text"]{width:120px!important;height:26px!important; line-height:26px!important;}
	ul.searchFunc li select{width:80px!important;height:26px!important; line-height:26px!important; margin:0 5px!important;}
	ul.searchFunc li.select-li{ width:85px!important;}
	.filterArea{ padding:10px 0; margin:0 0 0 55px;}
	.filterArea a{ text-decoration:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0070bd!important;border:1px #fff solid; display:inline-block; padding:2px 3px; }
	.filterArea a:hover{border:1px #0070bd solid; background:#CCCCCC; color:#000;}
