#dcw-trigger {
  display: none;
  width: 50px;
  height: 25px;
  background: url("/gws/lib/template/img/icon_startbtn.png");
  cursor: pointer;
}

#dcw-wime {
  position: absolute;
  z-index: 9998;
  font-size: 12px;
}

#dcw-wime-ime {
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

#dcw-wime-keyboard {
  position: absolute;
  left: 180px;
  background: url("/gws/lib/template/img/icon_keyboard.png");
  cursor: pointer;
}

#dcw-wime-search {
  display: none;
}

#dcw-wime-composition {
  width: 3em;
  float: left;
  padding: 0px;
  margin: 3px;
  display: block;
  overflow-x: visible;
  outline: 0;
  border: 0;
  line-height: 1.2em;
  letter-spacing: 0;
  font-size: 1em;
  font-weight: bold;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-focus-ring-color: none;
  ime-mode: disabled;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 0px white;
  -moz-box-shadow: 0 0 0px white;
  box-shadow: 0 0 0px white;
}

#dcw-wime-window {
  float: left;
  line-height: 1em;
  font-size: 1em;
  overflow-x: visible;
  vertical-align: middle;
  background-color: silver;
  border: 1px gray solid;
}
#dcw-wime-window input {
  font-size: 1em;
}

.dcw-wime-wrap-error {
  background-color: gray !important;
  border: 0 !important;
}
.dcw-wime-wrap-error input {
  color: red !important;
  background-color: gray !important;
}

#dcw-candidate {
  position: absolute;
  width: 122px;
  z-index: 9999;
  border: 1px gray solid;
  color: #333333;
  font-size: 16px;
  background-color: silver !important;
}

#dcw-candidate-head {
  width: 120px;
  height: 23px;
  float: left;
  border-bottom: 1px #a0a0a0 solid;
  line-height: 23px;
  clear: both;
  font-family: MS Gothic;
  font-size: 12px;
}

#dcw-candidate-num {
  float: left;
  width: 30px;
  background-color: silver;
}

#dcw-candidate-str {
  float: left;
  width: 90px;
  overflow: hidden;
  background-color: silver;
}

#dcw-candidate-page {
  float: left;
  font-weight: bold;
  font-family: MS Gothic;
  font-size: 12px;
  padding-left: 6px;
}

#dcw-candidate-prev, #dcw-candidate-next {
  float: right;
  display: block;
  font-size: 18px;
  cursor: pointer;
}

.dcw-candidate-num {
  font-family: MS Gothic;
  text-align: center;
  width: 30px;
  height: 21px;
  font-size: 13px;
  line-height: 21px;
}

.dcw-candidate-str {
  font-family: MS Gothic;
  text-align: left;
  width: 90px;
  height: 21px;
  line-height: 21px;
  padding-left: 5px;
}

#dcw-candidate-preview {
  position: absolute;
  z-index: 9999;
  font-size: 70px;
  width: 70px;
  height: 70px;
  background-color: gray;
  overflow: hidden;
  line-height: 1;
  color: #333333;
  background-color: silver;
  border: 1px gray solid;
}

.dcw-candidate-option {
  background-color: #316ac5;
  text-shadow: 0px 0px 1px #0c1b35;
  color: white;
  cursor: pointer;
}

.dcw-wime-ime-PH {
  border: 0;
  width: 54px;
  height: 30px;
  background: url("/gws/lib/template/img/PH.gif");
}

.dcw-wime-ime-CH {
  border: 0;
  width: 54px;
  height: 30px;
  background: url("/gws/lib/template/img/CJ.gif");
}

.dcw-wime-target-JIS {
  color: #3c763d;
  background-color: #dff0d8;
  border-width: 1px;
  border-style: solid;
  border-color: #d6e9c6;
  ime-mode: disabled;
  -moz-ime-mode: disabled;
}

.dcw-wime-target-Kana {
  color: #31708f;
  background-color: #bce8f1;
  border-width: 1px;
  border-style: solid;
  border-color: #bce8f1;
  ime-mode: disabled;
  -moz-ime-mode: disabled;
}

.dcw-wime-target-Kamei {
  color: #8a6d3b;
  background-color: #faebcc;
  border-width: 1px;
  border-style: solid;
  border-color: #faebcc;
  ime-mode: disabled;
  -moz-ime-mode: disabled;
}

.dcw-wime-target-Phonetic {
  color: #3c763d;
  background-color: #dff0d8;
  border-width: 1px;
  border-style: solid;
  border-color: #d6e9c6;
  ime-mode: disabled;
  -moz-ime-mode: disabled;
}

.dcw-wime-target-Changjie {
  color: #31708f;
  background-color: #bce8f1;
  border-width: 1px;
  border-style: solid;
  border-color: #bce8f1;
  ime-mode: disabled;
  -moz-ime-mode: disabled;
}

#dcw-keyboard {
  width: 100%;
  font-family: Verdana;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px #848389 solid;
  background-color: #9c9ba3;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #4f4f59), color-stop(100%, #9c9ba3));
  background-image: -webkit-linear-gradient(bottom, #4f4f59, #9c9ba3);
  background-image: -moz-linear-gradient(bottom, #4f4f59, #9c9ba3);
  background-image: -o-linear-gradient(bottom, #4f4f59, #9c9ba3);
  background-image: linear-gradient(bottom, #4f4f59, #9c9ba3);
}

.dcw-btn-null, .dcw-btn2, .dcw-btn, .dcw-btn-success, .dcw-btn-info {
  width: 90%;
  line-height: 1.4;
  text-align: center;
  color: #000002;
  text-shadow: 0px 0px 0px white, 0px 0px 0px 1px white;
  text-shadow: 0px 0px 0px 1px white, 0px 0px 0px 1px white;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ededef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #f6f6f6), color-stop(2%, #ededef), color-stop(100%, #d5d4d9));
  background-image: -webkit-linear-gradient(top, #f6f6f6 1%, #ededef 2%, #d5d4d9);
  background-image: -moz-linear-gradient(top, #f6f6f6 1%, #ededef 2%, #d5d4d9);
  background-image: -o-linear-gradient(top, #f6f6f6 1%, #ededef 2%, #d5d4d9);
  background-image: linear-gradient(top, #f6f6f6 1%, #ededef 2%, #d5d4d9);
  -webkit-box-shadow: #242328 0px 0px 2px;
  -moz-box-shadow: #242328 0px 0px 2px;
  box-shadow: #242328 0px 0px 2px;
  -webkit-transition: all 0.2s ease;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.2s ease 0;
  -o-transition: all 0.2s ease 0;
  transition: all 0.2s ease 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.dcw-btn-null:hover, .dcw-btn-null:focus, .dcw-btn2:hover, .dcw-btn2:focus, .dcw-btn:hover, .dcw-btn:focus, .dcw-btn-success:hover, .dcw-btn-success:focus, .dcw-btn-info:hover, .dcw-btn-info:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #f6f6f6), color-stop(2%, #ededef), color-stop(100%, #d5d4d9));
  background-image: -webkit-linear-gradient(top, #f6f6f6 1%, #ededef 2%, #d5d4d9);
  background-image: -moz-linear-gradient(top, #f6f6f6 1%, #ededef 2%, #d5d4d9);
  background-image: -o-linear-gradient(top, #f6f6f6 1%, #ededef 2%, #d5d4d9);
  background-image: linear-gradient(top, #f6f6f6 1%, #ededef 2%, #d5d4d9);
}

.dcw-btn-null {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.dcw-btn-success {
  color: white;
  text-shadow: 0px 0px 0px #1646c4, 0px 0px 0px 1px #1646c4;
  text-shadow: 0px 0px 0px 1px #1646c4, 0px 0px 0px 1px #1646c4;
  background-color: #1a50db;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4084f4), color-stop(100%, #1a50db));
  background-image: -webkit-linear-gradient(top, #4084f4, #1a50db);
  background-image: -moz-linear-gradient(top, #4084f4, #1a50db);
  background-image: -o-linear-gradient(top, #4084f4, #1a50db);
  background-image: linear-gradient(top, #4084f4, #1a50db);
  -webkit-box-shadow: #242328 0px 2px 2px, #1155dd 2px 2px 5px inset;
  -moz-box-shadow: #242328 0px 2px 2px, #1155dd 2px 2px 5px inset;
  box-shadow: #242328 0px 2px 2px, #1155dd 2px 2px 5px inset;
}
.dcw-btn-success:hover, .dcw-btn-success:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a50db), color-stop(100%, #4084f4));
  background-image: -webkit-linear-gradient(top, #1a50db, #4084f4);
  background-image: -moz-linear-gradient(top, #1a50db, #4084f4);
  background-image: -o-linear-gradient(top, #1a50db, #4084f4);
  background-image: linear-gradient(top, #1a50db, #4084f4);
}

.dcw-btn-info {
  color: white;
  text-shadow: 0px 0px 0px #575f6b, 0px 0px 0px 1px #575f6b;
  text-shadow: 0px 0px 0px 1px #575f6b, 0px 0px 0px 1px #575f6b;
  background-color: #6c7684;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #989fab), color-stop(100%, #6c7684));
  background-image: -webkit-linear-gradient(top, #989fab, #6c7684);
  background-image: -moz-linear-gradient(top, #989fab, #6c7684);
  background-image: -o-linear-gradient(top, #989fab, #6c7684);
  background-image: linear-gradient(top, #989fab, #6c7684);
  -webkit-box-shadow: #242328 0px 0px 2px;
  -moz-box-shadow: #242328 0px 0px 2px;
  box-shadow: #242328 0px 0px 2px;
}
.dcw-btn-info:hover, .dcw-btn-info:focus {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7684), color-stop(100%, #989fab));
  background-image: -webkit-linear-gradient(top, #6c7684, #989fab);
  background-image: -moz-linear-gradient(top, #6c7684, #989fab);
  background-image: -o-linear-gradient(top, #6c7684, #989fab);
  background-image: linear-gradient(top, #6c7684, #989fab);
}

.dcw-base-gird1 {
  float: left;
  width: 10%;
  *width: 9%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird2 {
  float: left;
  width: 20%;
  *width: 18%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird3 {
  float: left;
  width: 30%;
  *width: 27%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird4 {
  float: left;
  width: 40%;
  *width: 36%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird5 {
  float: left;
  width: 50%;
  *width: 45%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird6 {
  float: left;
  width: 60%;
  *width: 54%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird7 {
  float: left;
  width: 70%;
  *width: 63%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird8 {
  float: left;
  width: 80%;
  *width: 72%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird9 {
  float: left;
  width: 90%;
  *width: 81%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-gird10 {
  float: left;
  width: 100%;
  *width: 90%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dcw-base-clear {
  clear: both;
}

#dcw-ppwime {
  position: fixed;
  z-index: 10000;
  background-color: white;
  width: 800px;
  height: 470px;
  border: 1px solid #bbbbbb;
  -webkit-box-shadow: #999999 0px 0px 20px;
  -moz-box-shadow: #999999 0px 0px 20px;
  box-shadow: #999999 0px 0px 20px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#dcw-ppwime-preview {
  position: fixed;
  z-index: 11000;
  line-height: 1;
  font-size: 120px;
  color: #333333;
  background-color: white;
  width: 120px;
  height: 120px;
  border: 1px solid #bbbbbb;
  -webkit-box-shadow: #999999 0px 0px 20px;
  -moz-box-shadow: #999999 0px 0px 20px;
  box-shadow: #999999 0px 0px 20px;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#dcw-ppwime-head {
  width: 100%;
  height: 24px;
  line-height: 24px;
  cursor: move;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #bbbbbb;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-size: 12px;
  font-weight: bold;
  color: #333333;
  font-family: Arial;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: linear-gradient(top, #e6e6e6, #ffffff);
}

#dcw-ppwime-con {
  position: absolute;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: linear-gradient(top, #e6e6e6, #ffffff);
  width: 279px;
  height: 475px;
  line-height: 2em;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #bbbbbb;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0px;
  left: 520px;
  font-size: 12px;
  color: #333333;
  font-family: "MS Gothic";
}

#dcw-ppwime-result {
  position: absolute;
  background-color: white;
  width: 500px;
  height: 425px;
  line-height: 24px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 4px;
  font-size: 13px;
  color: #aa0000;
  font-family: "MS Gothic";
  overflow: auto;
  padding: 10px;
}

.dcw-result-wrap {
  line-height: 1;
  color: #333333;
  overflow: hidden;
  height: 56px;
  width: 40px;
  border: 1px outset;
  margin: 0px;
  cursor: pointer;
  display: inline-block;
  background-color: white;
}

#dcw-ppwime-strokeStrMinWrap {
  display: none;
}

.dcw-result-head {
  height: 14px;
  width: 40px;
  text-align: center;
  font-size: 10px;
  display: block;
  background-color: yellow;
}

.dcw-result-body {
  line-height: 1;
  height: 42px;
  width: 40px;
  margin-top: 5px;
  padding-top: 0px;
  text-align: center;
  font-size: 26pt;
  font-weight: bold;
  display: block;
}

.dcw-result-head2 {
  height: 14px;
  width: 40px;
  text-align: center;
  font-size: 10px;
  display: block;
  background-color: #66ccff;
}

#dcw-ppwime-close {
  cursor: pointer;
  color: #bbbbbb;
  float: right;
}

.dcw-ppwime-row {
  display: block;
  overflow: hidden;
  clear: both;
  margin: 0.2em 0.5em;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: #cccccc;
}

#dcw-ppwime-express-con {
  line-height: 30px;
}
#dcw-ppwime-express-con h1 {
  float: left;
  width: 100%;
  display: block;
  overflow: hidden;
  background-color: #cccccc;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #333333;
}
#dcw-ppwime-express-con h2 {
  float: left;
  width: 100%;
  display: block;
  overflow: hidden;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  color: #333333;
}
#dcw-ppwime-express-con form {
  width: 260px;
  padding: 10px 10px;
}
#dcw-ppwime-express-con input[type=text] {
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 12px;
  color: #333333;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}
#dcw-ppwime-express-con select {
  width: 70px;
  font-size: 12px;
  color: #333333;
}
#dcw-ppwime-express-con input[type=button], #dcw-ppwime-express-con input[type=reset], #dcw-ppwime-express-con button {
  padding: 0;
  margin: 0;
  width: 70px;
  height: 30px;
  font-size: 12px;
  color: #333333;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
}
#dcw-ppwime-express-con input[type=button]:hover, #dcw-ppwime-express-con input[type=button]:focus, #dcw-ppwime-express-con input[type=reset]:hover, #dcw-ppwime-express-con input[type=reset]:focus, #dcw-ppwime-express-con button:hover, #dcw-ppwime-express-con button:focus {
  border-color: #3366cc;
  color: white;
  background-color: #3366cc;
}
#dcw-ppwime-express-con hr {
  clear: both;
  border: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 1px;
  background-color: #d4d4d4;
}

.dcw-gaiji {
  -webkit-user-modify: read-write-plaintext-only;
  -moz-user-modify: read-write-plaintext-only;
}

.dcw-base-grid1 {
  float: left;
  width: 10% !important;
}

.dcw-base-grid2 {
  float: left;
  width: 20% !important;
}

.dcw-base-grid3 {
  float: left;
  width: 30% !important;
}

.dcw-base-grid4 {
  float: left;
  width: 40% !important;
}

.dcw-base-grid5 {
  float: left;
  width: 50% !important;
}

.dcw-base-grid6 {
  float: left;
  width: 60% !important;
}

.dcw-base-grid7 {
  float: left;
  width: 70% !important;
}

.dcw-base-grid8 {
  float: left;
  width: 80% !important;
}

.dcw-base-grid9 {
  float: left;
  width: 90% !important;
}

.dcw-base-grid10 {
  float: left;
  width: 100% !important;
}

.dcw-base-hide {
  display: none;
}

.dcw-base-row {
  width: 100%;
  display: block;
  clear: both;
}
.dcw-base-row label {
  float: left;
  width: 30%;
}
.dcw-base-row div {
  float: left;
  width: 70%;
}

.dcw-base-clear {
  clear: both;
}

.dcw-base-full {
  width: 100% !important;
}

.dcw-base-half {
  width: 50% !important;
}

.dcw-base-center {
  text-align: center;
}

.dcw-base-black {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  background: black;
}

.dcw-select-prevent {
  position: absolute;
  z-index: 19000;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

.dcw-select-wrap {
  position: absolute;
  z-index: 20000;
  border: 1px solid #7f9db9;
  background-color: white;
}

.dcw-select-wrap .dcw-select-option {
  position: relative;
  width: 100%;
}

.dcw-select-wrap .dcw-select-option:hover {
  color: white;
  background: dodgerblue;
}
